:host {
  display: block;
}

.post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 3.5rem;

  &__title {
    width: 50%;
    display: block;
    margin: 2rem;
  }

  &__description {
    width: 50%;
    display: block;
    margin: 2rem;
  }

  .l-title-form__control {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .l-description-form__control {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
